<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo produto</title> 
    <link rel="stylesheet" href="Static/css/style_cadastro.css">
    <link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">
</head>

<body>
<main id="form_container">
    <div id="form_header">
        <h1 id="form_title">Cadastro de produto</h1>
    </div>
    <form action="" id="form">
        <div id="input_container">
            <div class="input-box">
                <label for="name" class="form-label">ID Produto</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="ID Produto">
                </div>
            </div>
            <div class="input-box">
                <label for="name" class="form-label">Nome Completo</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Nome do Produto">
                </div>
            </div>
            <div class="input-box">
                <label for="name" class="form-label">Preço</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Preço">
                </div>
            </div>
            <div class="input-box">
                <label for="name" class="form-label">Quantidade</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Quantidade">
                </div>
            </div>
            <div class="input-box">
                <label for="name" class="form-label">Marca</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Marca">
                </div>
            </div>
            <div class="input-box">
                <label for="name" class="form-label">Categoria</label>
                <div class="input-field">
                    <input type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Categoria">
                </div>
            </div>
            <input type="submit" value="Confirmar">
        </div>   
    </form>
</main> <br>
<nav class="menu">
    <a href="index.html" class="botao">Voltar ao início</a>
</nav>
</body>
</html>