<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo cliente</title> 
    <link rel="stylesheet" href="Static/css/style_cadastro.css">
    <link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">
</head>

<body>
    <main id="form_container">
        <div id="form_header">
            <h1 id="form_title">Editar Cliente</h1>
        </div>
    
        <form action="" id="form">
            <div id="input_container">
                <div class="input-box">
                    <label for="name" class="form-label">ID Cliente</label>
                    <div class="input-field">
                        <input type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="ID Cliente">
                    </div>
                </div>
                <div class="input-box">
                    <label for="name" class="form-label">Nome Completo</label>
                    <div class="input-field">
                        <input type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="Nome Completo">
                    </div>
                </div>
                <div class="input-box">
                    <label for="name" class="form-label">E-mail</label>
                    <div class="input-field">
                        <input type="email"
                        name="email"
                        id="email"
                        class="form-control"
                        placeholder="exemplo@gmail.com">
                    </div>
                </div>
                <div class="input-box">
                    <label for="birthdate" class="form-label">Data de Nascimento</label>
                    <div class="input-field">
                        <input type="date"
                        name="birthdate"
                        id="birthdate"
                        class="form-control">
                    </div>
                </div>
                <div class="input-box">
                    <label for="name" class="form-label">Cidade</label>
                    <div class="input-field">
                        <input type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="Cidade">
                    </div>
                </div>
                <div class="input-box">
                    <label for="name" class="form-label">Telefone</label>
                    <div class="input-field">
                        <input type="telefone"
                        name="telefone"
                        id="telefone"
                        class="form-control"
                        placeholder="(86) 9 9999-9999">
                    </div>
                </div>
                <input type="submit" value="Alterar">
            </div>
        </form>
    </main> <br>
<nav class="menu">
    <a href="index.html" class="botao">Voltar ao início</a>
</nav>
</body>
</html>
