<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title> 
    <link rel="stylesheet" href="Static/css/style-index.css">
    <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
</head>

<body>
    <header>
        <h1>Bem-vindo!</h1>
        <hr>
        <nav class="menu">
            <a href="produtos.html" class="botao">Produtos</a>
            <a href="clientes.html" class="botao">Clientes</a>
        </nav>   
    </header>
    <hr>
<div>
    <nav class="menu">
        <a href="cad-produto.html" class="botao">Cadastrar produto</a>
        <a href="cad-cliente.html" class="botao">Cadastrar Cliente</a>
    </nav> 
</div>
</body>
</html>