<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Static/css/style_tabela.css">
    <link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">
    <title>Tabela de Produtos</title>
</head>
<body>

</head>
<body>
  <body>
    <div class="container">
      <h2>Tabela de Produtos</h2>
      <hr>
      <nav class="menu">
        <a href="cad-produto.html" class="botao">Cadastrar Produto</a> 
      </nav>
      <table>
        <tr>
          <th>ID Produto</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td> 
            <a href="edit-produto.html" class="botao_editar">Editar</a>
            <a href="" class="botao_excluir">Excluir</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <nav class="menu">
        <a href="index.html" class="botao">Voltar ao início</a>
    </nav>
    </div>
  </body>
</html>