<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
    <link rel="shortcut icon" href="img/logo1.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <h2>Bem-vindo a ShoPI!</h2>
            <hr>
            <nav class="menu">
                <a href="{{ url_for('view.cad_produto') }}" class="botao">Cadastrar produto</a>
                <a href="{{ url_for('view.cad_cliente') }}" class="botao">Cadastrar Cliente</a>
            </nav> 

            <h3>Já cadastrados:</h3>
            <nav class="menu">
                <a href="{{ url_for('view.produtos') }}" class="botao">Produtos</a>
                <a href="{{ url_for('view.listar_clientes') }}" class="botao">Clientes</a>
            </nav>   
        </header>
    </div>
</body>
</html>